html, body {
    margin: 0px;
    padding: 0px;
}

.layer1 {
    background-color: green;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.layer2{
    background-color: blue;
    padding: 30px;
}



.layer3{
    padding: 15px 25%;
    background-color: yellow;
}

.layer3 .container .etchSketch{
    padding: 50px;
    width: auto;
    height: auto;
    background-color: #E90418;
    border-radius: 30px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.layer3 .etchSketch .options .buttons {
    display: inline-flex;
    
}
.layer3 .etchSketch button{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: #21272b;
    font-family: 'Permanent Marker', cursive;
    color:beige;
    margin: 10px;
}

button:hover {

}


.layer3 .grid{
    width: 750px;
    height: 500px;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: brown;
    padding: 0px;
}

.layer3 .square {
    width: 50px;
    height: 50px;
}

.layer3 .rangeSlider {
    margin-top: 50px;
}